.default {
    background-color: #414141;
    border-width: 6em;
    border-radius: 1em;
    text-align: center;
    color: beige; 
    max-width: 60%;
    margin: auto;
    min-height: 80%;
}
.header {
    background-color: #414141;
    border-width: 6em;
    border-radius: 1;
    text-align: center;
    color: beige;
}
.footer {
    background-color: #414141;
    border-width: 6em;
    border-radius: .5em;
    text-align: center;
    color: beige;
}