.forumPost {
    background-color: slategrey;
    border-width: 2em;
    border-radius: 1em;
    text-align: center;
    color: beige;
}
.comment {
    background-color: slategrey;
    border-width: 2em;
    border-radius: 1em;
    text-align: center;
    color: beige;
}
.default {
    background-color: slategrey;
    color:green;
}
